.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
  width: 100vw;
  background-color: white;
  /* margin: 5em; */
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.iron-logo {
  position: absolute;
  top: 1em;
  left: 3em;
}

.text-wrap {
  margin-left: 3em;
  padding-right: 50%;
}

.links-box {
  background-color: blue;
  width: 100vw;
  background-color: white;
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.box {
  margin: 2em;
  padding: 3em;
  width: 25%;
  text-align: left;
}

.image-box {
  width: 40%;
}
